.dark-mode1 {
    background-color:#fff !important;
    color: #eee;
    border:none;
    margin:none;
    transition: 0.6s;
}

.dark-mode .dark-mode1{
    background-color: #121212 !important;
    color: #eee;
    border: none;
    transition: 0.6s;

}

.dark-mode .body {
    background-color: #121212;
    transition: 0.6s;

}
.dark-mode #about-page-section-3 {
    background-color: #121212;
    transition: 0.6s;

}
.dark-mode #about-page-section-3 h1{
    color: #eee;
    transition: 0.6s;

}
.dark-mode #about-page-section-3 .event {
    color: rgb(190, 210, 253);
    transition: 0.6s;

}
.dark-mode #team-member {
    background-color: #121212;
    color: rgb(210, 221, 221);
    transition: 0.6s;

}
.dark-mode #team-member h1{
    color: #eee;
    transition: 0.6s;

}
.dark-mode .q_team_position {
    color:rgb(205, 226, 226) !important;
    transition: 0.6s;

}
.dark-mode h5 {
    color: rgb(197, 197, 197) !important;
    transition: 0.6s;

}
