
.dark-mode1 {
    background-color:#fff !important;
    color: #eee;
    border:none;
    margin:none;
    transition: 0.6s;

}
.dark-mode .wpb_wrapper h3 {
    color: #eee !important;
}
.dark-mode .iconbox-content h4 {
    color: rgb(35, 108, 168) !important;
}
.dark-mode .section-heading h1 {
    color: rgb(187, 187, 187) !important;
}
.dark-mode .dark-mode1{
    background-color: #121212 !important;
    color: #eee;
    border: none;
    transition: 0.6s;

}

.dark-mode .navbar-brand h1 {
color: #eee !important;
transition: 0.6s;

}
.dark-mode .dark-mode1{
    background-color:#121212 !important;
    color: #eee;
    transition: 0.6s;

}
.dark-mode button {
    background-color: #eee !important;
    color: #111 !important;
    transition: 0.6s;

}
.dark-mode .col-sm-6 {
    background-color: #111 !important;
    color: #eee;
}


.dark-mode .subsection2 {
    background-color: #121212 !important;
    transition: 0.6s;

}
.dark-mode .subsection3 {
    background-color: #121212 !important;
    transition: 0.6s;

}
.dark-mode .subsection4 {
    background-color: #121212 !important;
    transition: 0.6s;

}

.dark-mode .pricing-price , .pricing-plan {
    background-color: rgb(44, 44, 44) !important;
    color: rgb(194, 194, 194)  !important;
    transition: 0.6s;

}
.dark-mode .pricing-amount {
    color: rgb(194, 194, 194) !important;
    transition: 0.6s;

}
