.dark-mode1 {
    background-color:#fff !important;
    color: #eee;
    border:none;
    margin:none;
    transition: 0.6s;
}

.dark-mode .dark-mode1{
    background-color: #121212 !important;
    color: #eee;
    border: none;
    transition: 0.6s;
}

.dark-mode .dark-mode{
    background-color: #111 !important;
    color: #eee;
}
.dark-mode .body {
    background-color: #121212;
    transition: 0.6s;
}
.dark-mode #portfolio {
    background-color: #121212 !important;
    color:rgb(223, 223, 223) !important;
    transition: 0.6s;
}
.dark-mode #portfolio h1 {
    color: #eee !important;
    transition: 0.6s;
}
.dark-mode #main {
    background-color: #121212 !important;
    transition: 0.6s;
}
