.dark-mode1 {
    background-color:#fff !important;
    color: #eee;
    border:none;
    margin:none;
}
.light-mode .navbar {
    background-color:#fff;
    
}
.light-mode .navbar-brand h1 {
color: #111 !important;
}
.dark-mode .dark-mode1{
    background-color: #111 !important;
    color: #eee;
}
.dark-mode  #navbar li {
    color: #fff !important;
}
.dark-mode #about {
    background-color:#111 !important;
}
.dark-mode .container-fluid {
    background-color: rgba(34, 32, 34, 0) !important;
}
.dark-mode main {
    background-color: rgba(34, 32, 34, 0) !important;
}
}
.dark-mode .image-holder {
    background-color: #111 !important;
}
.dark-mode #about-ul  {
    background-color: rgba(0, 0, 0, 0) !important;
}
.dark-mode .text-block {
    background-color: rgb(17, 17, 17) !important;
}
.dark-mode .about {
    background-color:#121212;
    transition: 0.6s;

}

.dark-mode .image-holder {
    background-color: #111 !important;
    transition: 0.6s;

}

.dark-mode #features {
    background-color: #111;
    transition: 0.6s;

}
.dark-mode .nav li {
    color: #eee !important;
}
.dark-mode .container-fluid {
    background-color: rgba(34, 32, 34, 0) !important;
    transition: 0.6s;

}
.dark-mode #about-ul  {
    background-color: rgba(0, 0, 0, 0) !important;
    transition: 0.6s;

}

.dark-mode #news {
    background-color: #111;
    transition: 0.6s;
    
}

.dark-mode .text-block {
    background-color: rgb(17, 17, 17) !important;
    transition: 0.6s;

}
.dark-mode .about {
    background-color: #3030 !important;
    transition: 0.6s;

}
.dark-mode .timeline-panel {
    background-color: #3030;
    transition: 0.6s;

}
.dark-mode .timeline-panel {
    background-color: rgb(24, 24, 24) !important;
    transition: 0.6s;


}
.dark-mode #process {
    background-color: #111;
    transition: 0.6s;

}
.timeline-badge {
    background-color: rgb(27, 27, 27) !important;
    color: #eee;
}
.dark-mode #heading {
    color:#eee !important;
}

.dark-mode .section-heading h1{
    color:#eee !important;
}
.dark-mode .aboutul li {
    color: rgb(161, 161, 172);
}
.dark-mode .timeline-panel-ul li {
    color: rgb(161, 161, 172) !important;
}
.dark-mode .process-text-block {
    color: rgb(161, 161, 172);
}